.section-title {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: center;
    margin-bottom: 55px;
}

.section-title  h1{
    color: #000;
    font-family: "Didot";
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 14.4px;
    padding-right: 78px;
}

.section-title-line {
    width: 100%;
    position: relative;
}

.section-title-line::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #000;
    position: absolute;
    top: 50%;
    right: 0;
}

.contact-description {
    color: #000;
    font-family: "Zen Kurenaido";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3px;
}

.contact-form {
    margin-top: 45px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    width: 100%;
    padding: 0 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form p , .input-td label {
    color: #000;
    font-family: "Zen Kurenaido";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3px;
}

.form-table {
    width: 100%;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-table tbody{
    width: 100%;
}

.form-table tr {
    width: 100%;
    margin: 40px 0;
    display: flex;
    align-items: center;
}

.form-table th {
    /* width: 20%; */
    text-align: left;
    flex: 2;
}

.require-td {
    /* width: 10%; */
    text-align: center;
    flex: 1;
}

.input-td {
    /* width: 600px; */
    height: 50px;
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text-td {
    /* width: 600px; */
    flex: 6;
    height: 200px;
}

.text-td textarea {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    resize: none;
}

#require {
    color: #909090;
    font-family: "Zen Kurenaido";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.1px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #909090;
    background: #FFF;
    padding: 10px 12px;
}

input[type="institution"]::placeholder {
    color: #909090;
    font-family: "Zen Kurenaido";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.1px;
}

.input-td span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.button-div {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm-button {
    display: inline-block;
    padding: 14px 32px 16px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    font-family: "Zen Old Mincho";
    font-size: 20px;
    letter-spacing: 3px;
    border: #000000 1px solid;
    cursor: pointer;
    margin: 0 78px;
}

.confirm-button:hover {
    background-color: #707070; /* ホバー時の背景色 */
    color: #ffffff; /* ホバー時の文字色 */
    transition: 0.3s ease-in-out; /* ホバー時の変化をスムーズに */
}