---
import Layout from '../layouts/Layout.astro';
import '../styles/UA+reset.css';
---

<Layout>
<Fragment slot="main-slot">
    <nav>
    <a href="/">ホーム</a>
    <a href="Activity">ブログ</a>
    <a href="Contact">お問い合わせ</a>
    </nav>
</Fragment>
<Fragment slot="menu-slot">
</Fragment>
<Fragment slot="body-slot">
    <h1>Activity</h1>
    <article>
        <p>こちらはブログの一覧ページです。</p>
        <p>新しい記事が追加され次第、こちらに表示されます。</p>
        <p>お楽しみに！</p>
    </article>
</Fragment>
</Layout>
