---
import Layout from '../layouts/Layout.astro';
import '../styles/UA+reset.css';

---

<Layout>
<Fragment slot="main-slot">
    <div class = "section-title a-anchor"> 
        <h1>Activity</h1>
        <div class = "section-title-line"></div>
    </div>
</Fragment>
<Fragment slot="menu-slot">
</Fragment>
<Fragment slot="body-slot">
    <h1>Activity</h1>
    <article>
        <p>こちらはブログの一覧ページです。</p>
        <p>新しい記事が追加され次第、こちらに表示されます。</p>
        <p>お楽しみに！</p>
    </article>
</Fragment>
</Layout>
