---
import Layout from '../layouts/Layout.astro';
import '../styles/UA+reset.css';
---

<Layout>
<Fragment slot="main-slot">
    <nav>
    <a href="/">ホーム</a>
    <a href="Activity">ブログ</a>
    <a href="Contact">お問い合わせ</a>
    </nav>
</Layout>
