/* フォントの指定はここから */

.zen-kurenaido-regular {
    font-family: "Zen Kurenaido", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.zen-old-mincho-regular {
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-style: normal;
}

.TA-koigokoro-Regular {
    font-family: "ta-koigokoro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.grandiflora-one-regular {
    font-family: "Grandiflora One", cursive;
    font-weight: 400;
    font-style: normal;
}

/* フォントの指定ここまで */

html{
    font-family: "zen-krenaido-regular", "zen-old-mincho-regular", "zen-kaku-gothic-new-light", "zen-kaku-gothic-new-regular", "zen-kaku-gothic-new-medium", "zen-kaku-gothic-new-bold", "zen-kaku-gothic-new-black", "ta-koigokoro-regular", "grandiflora-one-regular";
    margin: 0;
}

body {
    margin: 0;
    background-color: #fdfdfd;
}

header {
    top:0;
    width: 100vw;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px 0px 82.17px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: #fff;
    position: fixed;
    z-index: 1000000000000000 !important;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 337.83px;
    height: 61px;
    gap: 20px;
}

.header-logo-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75.651px;
    height: 56.644px;
}

.header-logo-text_1 {
    font-family: "Zen Old Mincho", serif;
    font-size: 13px;
    margin: 0;
}

.header-logo-text_2 {
    font-family: "Zen Old Mincho", serif;
    font-size: 32px;
    margin: 0;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav a {
    font-family: "Zen Old Mincho", serif;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    padding: 15px;
    letter-spacing: 3px;
    position: relative; /* アンダーラインのために相対位置を指定 */
    cursor: pointer;
}

.header-nav a::after {
    position: absolute;
    left: 15px; /* aタグの左端からアンダーラインを引く */
    right: 15px; /* aタグの右端からアンダーラインを引く */
    content: '';
    width: calc(100%-30px);
    height: 1px;
    background: #000000;
    bottom: 12px;
    transform: scale(0, 1);
    transform-origin: center top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
    transition: transform 0.3s;   /*変形の時間*/
}

.header-nav a:hover::after {
    transform: scale(1, 1); /* アンダーラインを表示 */
}

.Oh404 {
    margin-top: 120px;;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 120px);
    background: url('../images/404page/Group 90.svg') no-repeat;
    background-size: calc(100vw - 460px);
    background-position: center 45px;
}

.sbox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sbox-inner {
    width: 780px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100 !important;
}

.sbox-inner::before {
    content: '';
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url('../images/404page/Rectangle36.svg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0 !important;
}

.sbox-inner input {
    border: none;
    outline: none;
    height: 100%;
    padding: 0px 0px 0px 20px;
}

.sbox-inner input#searchbox {
    flex: auto;
}

.sbox-inner button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.sbox-inner button:active {
    background: rgba(0, 0, 0, 0.1);
}

footer {
    width: 100%;
    height: 441px;
    margin-top: 148px;
    padding: 68px 120px 35px;
    flex-shrink: 0;
    background: rgba(70, 70, 70, 0.75);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    position: relative;
}

footer h1 {
    color: #FFF;
    font-family: "Zen Kurenaido";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 6px;
}

footer h2 {
    color: #FFF;
    font-family: "Zen Kurenaido";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3px;
}

footer h3 {
    color: #FFF;
    font-family: "Grandiflora One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3px;
}

footer a {
    color: #FFF;
    font-family: "Zen Old Mincho";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3px;
    text-decoration: none;
    margin-right: 44px;
    position: relative;
    cursor: pointer;
}

footer a::after {
    position: absolute;
    left: 0; /* aタグの左端からアンダーラインを引く */
    right: 0; /* aタグの右端からアンダーラインを引く */
    content: '';
    width: 100%;
    height: 1px;
    background: #b6b6b6;
    bottom: 0;
    transform: scale(0, 1);
    transform-origin: center top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
    transition: transform 0.3s;
}

footer a:hover::after {
    transform: scale(1, 1); /* アンダーラインを表示 */
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.links-lower-tier {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}

.member-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    bottom: 35px;
    right: 120px;
}

.footer-logo h3 {
    margin-top: 25px;
}