/* フォントの指定はここから */

.zen-kurenaido-regular {
    font-family: "Zen Kurenaido", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.zen-old-mincho-regular {
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-style: normal;
}

.TA-koigokoro-Regular {
    font-family: "ta-koigokoro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.grandiflora-one-regular {
    font-family: "Grandiflora One", cursive;
    font-weight: 400;
    font-style: normal;
}

/* フォントの指定ここまで */

html{
    font-family: "zen-krenaido-regular", "zen-old-mincho-regular", "zen-kaku-gothic-new-light", "zen-kaku-gothic-new-regular", "zen-kaku-gothic-new-medium", "zen-kaku-gothic-new-bold", "zen-kaku-gothic-new-black", "ta-koigokoro-regular", "grandiflora-one-regular";
    margin: 0;
}

body {
    margin: 0;
    background-color: #fdfdfd;
}

.Oh404 {
    margin-top: 120px;;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 120px);
    background: url('../assets/404page/Group 90.svg') no-repeat;
    background-size: calc(100vw - 460px);
    background-position: center 45px;
}

.errormessage {
    text-align: center;
    color: #000;
    font-family: "Zen Kurenaido";
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 3px;
    margin-top: 45px;
    margin-bottom: 100px;
}

.sbox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sbox-inner {
    width: 780px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100 !important;
}

.sbox-inner::before {
    content: '';
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url('../assets/404page/Rectangle36.svg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0 !important;
}

.sbox-inner input {
    border: none;
    outline: none;
    height: 100%;
    padding: 0px 0px 0px 20px;
}

.sbox-inner input#searchbox {
    flex: auto;
}

.sbox-inner button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.sbox-inner button:active {
    background: rgba(0, 0, 0, 0.1);
}