.href-anchor{
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.href-anchor::after {
    position: absolute;
    left: 0;
    right: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: #000000;
    bottom: 0;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform 0.3s;
}

.href-anchor:hover::after {
    transform: scale(1, 1);
}

.section-title {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: center;
    margin-bottom: 55px;
}

.section-title  h1{
    color: #000;
    font-family: "Didot";
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 14.4px;
    padding-right: 78px;
}

.section-title-line {
    width: 100%;
    position: relative;
}

.section-title-line::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #000;
    position: absolute;
    top: 50%;
    right: 0;
}

.explanation-about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 148px;
    padding: 0 120px;
}

.explanation-about-us p{
    color: #000;
    font-family: "Zen Kurenaido";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.6px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 120px;
}

.contents-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-bottom: 15px;
}

.contents-title h1{
    color: #000;
    font-family: "Didot";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 7.2px;
    text-align: right;
}

.information table{
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid #000;
    color: #000;
    font-family: "Zen Kurenaido";
    font-size: 20px;
}

.information caption{
    caption-side: bottom;
    text-align: right;
}

.information th,
.information td {
    width: max-content;
    border-top: 1px solid #000;
    padding: 20px;
    color: #000;
    font-family: "Zen Kurenaido";
    font-weight: 400;
}

.information th {
    font-size: 24px;
    padding: 20px 30px;
}

.separator{
    margin: 0 40px;
}


#map-td {
    padding: 0;
}

#map-td span{
    display: flex;
    align-items: center;
    justify-content: center;
}

.map {
    width: 450px;
    height: 450px;
    background-color: rgb(228 240 245);
    margin: 35px;
}

.address-span{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link-button{
    padding: 15px;
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.link-button:hover {
    background-color: #f0f0f0;
}

.link-button img {
    width: 20px;
    height: 20px;
    vertical-align: top;
}

.annual-schedule {
    margin-top: 148px;
    padding: 0 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tab {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}

.tab > label {
    flex: 1 1;
    order: -1;
    min-width: 70px;
    padding: .7em 1em .5em;
    border-bottom: 1px solid #000000;
    border-radius: 0;
    background-color: #fdfdfd;
    color: #000000;
    font-family: "Zen Old Mincho";
    font-size: 15px;
    letter-spacing: 2.25px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    cursor: pointer;
}

.tab > label:hover {
    opacity: .8;
}

.tab input {
    display: none;
}

.tab > div {
    display: none;
    width: 100%;
    padding: 1.5em 1em;
    background-color: #fff;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
}

#tab1:checked ~ label[for="tab1"],
#tab2:checked ~ label[for="tab2"],
#tab3:checked ~ label[for="tab3"],
#tab4:checked ~ label[for="tab4"],
#tab5:checked ~ label[for="tab5"] {
    background-color: #fff;
    border-color: #000000;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-radius: 2px 2px 0px 0px;
    color: #000000;
}

#tab1:checked ~ label[for="tab1"] + div,
#tab2:checked ~ label[for="tab2"] + div,
#tab3:checked ~ label[for="tab3"] + div,
#tab4:checked ~ label[for="tab4"] + div,
#tab5:checked ~ label[for="tab5"] + div {
    display: flex;
    background-color: #fff;
}

#tab1:checked ~ label[for="tab1"] + div::after,
#tab2:checked ~ label[for="tab2"] + div::after,
#tab3:checked ~ label[for="tab3"] + div::after,
#tab4:checked ~ label[for="tab4"] + div::after,
#tab5:checked ~ label[for="tab5"] + div::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #000;
    position: absolute;
    top: 100%;
    left: 0;
}

.card-cover {
    padding: 25px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    flex-shrink: 0;
    border-radius: 10px;
    position: relative;
}

.card-cover::before {
    content: '';
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background-color 0.3s ease;
}

.card-cover::after {
    content: '';
    border-radius: 10px;
    position: absolute;
    top: 7px;
    right: 7px;
    bottom: 7px;
    left: 7px;
    border:#000000 0.5px solid;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card-contents {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-cover h1, .card-cover h2 {
    font-family: "Zen Old Mincho";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: opacity 0.3s ease 0.1s;
}

.card-contents h1{
    text-align: center;
    opacity: 0;
    color: #000000;
    transition: opacity 0.3s ease 0.1s;
}

.card-contents h2 {
    color: #ffffff;
    text-shadow: #5c5c5c 2px 2px 4px;
}

.card-textbox {
    opacity: 0;
    height: 150px;
    margin-top: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: opacity 0.3s ease 0.1s;
}

.card-cover:hover::before {
    background-color: rgba(255, 255, 255, 1);
}

.card-cover:hover::after {
    opacity: 1;
}

.card-cover:hover h1 {
    opacity: 1;
    z-index: 1;
}
.card-cover:hover h2 {
    color: #000000;
    z-index: 1;
    text-shadow: none;
}
.card-cover:hover .card-textbox {
    opacity: 1;
    z-index: 1;
}

.card-textbox p {
    color: #000;
    font-family: "Zen Kurenaido";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.4px;
}

#card-apr-may{
    width: 655px;
    height: 414px;
    background-image: url('../assets/annual_schedule/apr_may.JPG');
    background-size: cover;
    background-position: center;
}

#card-apr-may-contents {
    align-items: flex-start;
}

#card-jun,
#card-jul,
#card-aug,
#card-sep,
#card-oct,
#card-nov,
#card-dec,
#card-jan,
#card-feb,
#card-mar {
    width: 290px;
    height: 414px;
    background-size: cover;
    background-repeat: no-repeat;
}

#card-jun {
    background-image: url('../assets/annual_schedule/jun.JPG');
    background-position: center;
}

#card-jul {
    background-image: url('../assets/annual_schedule/jul.JPG');
    background-position: 70%;
}

#card-aug {
    background-image: url('../assets/annual_schedule/aug.JPG');
    background-position: 30%;
}

#card-sep {
    background-image: url('../assets/annual_schedule/sep.jpg');
    background-position: center;
}

#card-oct {
    background-image: url('../assets/annual_schedule/oct.JPG');
    background-position: center;
}

#card-nov {
    background-image: url('../assets/annual_schedule/nov.JPG');
    background-position: center;
}

#card-dec {
    background-image: url('../assets/annual_schedule/dec.JPG');
    background-position: center;
}

#card-jan {
    background-image: url('../assets/annual_schedule/jan.JPG');
    background-position: center;
}

#card-feb {
    background-image: url('../assets/annual_schedule/feb.JPG');
    background-size: cover;
    background-position: center;
}

#card-mar {
    background-image: url('../assets/annual_schedule/mar.JPG');
    background-position: center;
}

#card-others {
    width: 100%;
    height: 414px;
    background-image: url('../assets/annual_schedule/others.JPG');
    background-size: cover;
    background-position: center;
}

#card-others-contents {
    justify-content: right;
    align-items: flex-end;
}

#card-others-contents p {
    color: #000000;
    font-family: "Zen Kurenaido";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.6px;
}

.Equipments {
    margin-top: 148px;
    padding: 0 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.equipments-list {
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    padding: 0 80px;
}

.equipments-list::-webkit-scrollbar {
    width: 8px;
    height: 50%;
    top: 50%;
    background-image: url('../assets/equipments/scrollbar-bg.svg');
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.equipments-list::-webkit-scrollbar-thumb {
    background-image: url('../assets/equipments/scrollbar-thumb.svg');
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.equipments-list::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.equipment-item {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.equipment-image {
    width: 400px;
    height: 500px;
    position: relative;
}

.equipment-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/equipments/equipments-cover.svg');
    background-size: cover;
    background-position: center;
    user-select: none;
}

input[name="slideshow"] {
	display: none;
}

.image-container {
    width: 400px;
    height: 100%;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	user-select: none;
    overflow: hidden;
    border-radius: 10px;
}

.image-container section {
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    height: 100%;
	transform: translateX(100%);
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.image-container section img {
	width: 100%;
	height: 100%;
    aspect-ratio: 4 / 5;
    object-fit: cover;
	box-sizing: border-box;
	vertical-align: middle;
}

.arrow,
.arrow label,
.arrow .ico {
	position: absolute;
}

.arrow {
	top: 0;
	margin: 0;
    background-color: rgba(255, 255, 255, 0);
	transition: background-color .3s;
}

.prev {
	left: 0;
}

.next {
	right: 0;
}

.arrow:hover {
	background-color: rgba(255,255,255,.2);
}

.arrow,
.arrow label {
	cursor: pointer;
	width: 50px;
	height: 100%;
}

.arrow label {
	top: 0;
	left: 0;
	z-index: 1;
}

.arrow .ico {
	top: calc(50% - 6px);
	width: 12px;
	height: 12px;
	border-top: 3px solid #fff;
	opacity: 0;
}

.prev .ico {
	left: 50%;
	border-left: 3px solid #fff;
	transform: rotate(-45deg);
	transition: transform .3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity .3s;
}

.next .ico {
	right: 50%;
	border-right: 3px solid #fff;
	transform: rotate(45deg);
	transition: transform .3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity .3s;
}

.arrow:hover .ico {
	opacity: .6;
}

.prev:hover .ico {
	transform: translateX(-6px) rotate(-45deg);
}

.next:hover .ico {
	transform: translateX(6px) rotate(45deg);
}

#switch1:checked ~ .image-container #image1,
#switch2:checked ~ .image-container #image2,
#switch3:checked ~ .image-container #image3,
#switch4:checked ~ .image-container #image4,
#switch5:checked ~ .image-container #image5 {
	position: relative;
	transform: none;
}
#switch1:checked ~ .image-container #image4,
#switch1:checked ~ .image-container #image5,
#switch2:checked ~ .image-container #image5,
#switch2:checked ~ .image-container #image1,
#switch3:checked ~ .image-container #image1,
#switch3:checked ~ .image-container #image2,
#switch4:checked ~ .image-container #image2,
#switch4:checked ~ .image-container #image3,
#switch5:checked ~ .image-container #image3,
#switch5:checked ~ .image-container #image4 {
	transform: translateX(-100%);
}
#switch1:checked ~ .image-container #image3,
#switch1:checked ~ .image-container #image4,
#switch2:checked ~ .image-container #image4,
#switch2:checked ~ .image-container #image5,
#switch3:checked ~ .image-container #image5,
#switch3:checked ~ .image-container #image1,
#switch4:checked ~ .image-container #image1,
#switch4:checked ~ .image-container #image2,
#switch5:checked ~ .image-container #image2,
#switch5:checked ~ .image-container #image3 {
	transition-duration: 0s;
}

.arrow label {
	pointer-events: none;
}
#switch1:checked ~ .prev label[for="switch5"],
#switch2:checked ~ .prev label[for="switch1"],
#switch3:checked ~ .prev label[for="switch2"],
#switch4:checked ~ .prev label[for="switch3"],
#switch5:checked ~ .prev label[for="switch4"],
#switch1:checked ~ .next label[for="switch2"],
#switch2:checked ~ .next label[for="switch3"],
#switch3:checked ~ .next label[for="switch4"],
#switch4:checked ~ .next label[for="switch5"],
#switch5:checked ~ .next label[for="switch1"] {
	pointer-events: auto;
}

.equipment-description {
    width: 100%;
    height: 100%;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.equipment-description h1 {
    position: absolute;
    top: -20px;
    right: -20px;
    color: rgba(0, 0, 0, 0.20);
    font-family: "Grandiflora One";
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 19.2px;
}

.equipment-description h2{
    color: #000;
    font-family: "Zen Kurenaido";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 7.2px;
    margin-top: 80px;
}

.equipment-description p{
    height: 200px;
    color: #000;
    font-family: "Zen Kurenaido";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3px;
    overflow: scroll;
}