.section-title {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
  margin-bottom: 55px;
}

.section-title  h1{
  color: #000;
  font-family: "Didot";
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 14.4px;
  padding-right: 78px;
}

.section-title-line {
  width: 100%;
  position: relative;
}

.section-title-line::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  top: 50%;
  right: 0;
}

.menu-contents-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.page-top-nav {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  bottom: 50px;
  z-index: 5;
  transition: all 0.3s;
}

.page-top-nav svg {
  width: 32px;
  height: 32px;
  rotate: 90deg;
  transition: all 0.3s;
}

.page-top-nav:hover {
  background-color: #707070;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.page-top-nav:hover svg {
  filter: invert(100%) sepia(2%) saturate(1%) hue-rotate(267deg) brightness(101%) contrast(101%);
}

.explanation-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 80px;
}

.explanation-area p {
  color: #000;
  font-family: "Zen Kurenaido";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.6px;
}

.tab {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.tab > label {
  flex: 1 1;
  order: -1;
  min-width: 70px;
  padding: .7em 1em .5em;
  border-bottom: 1px solid #000000;
  border-radius: 0;
  background-color: #fdfdfd;
  color: #000000;
  font-family: "Zen Old Mincho";
  font-size: 15px;
  letter-spacing: 2.25px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  cursor: pointer;
}

.tab > label:hover {
  color: #0db49b;
}

.tab > input {
  display: none;
}

.tab-panel {
  display: none;
  width: 100%;
  padding: 1.5em 1em;
  background-color: #fff;
  position: relative;
}

.tab > input:checked + label {
  background-color: #fff;
  border-color: #000000;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  border-radius: 2px 2px 0px 0px;
  color: #0db49b;
}

.tab > input:checked + label + .tab-panel {
  display: block;
  background-color: #fff;
}

.tab > input:checked + label + .tab-panel::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  top: 100%;
  left: 0;
}

.tab-panel-number {
  display: flex;
  align-items: center;
  padding: 0 9px;
  gap: 10px;
}

.panel-top {
  justify-content: flex-end;
  margin-bottom: 24px;
}

.panel-bottom {
  justify-content: center;
  margin-top: 24px;
}

.tab-posts-navigation {
  text-decoration: none;
  width: 20px;
  height: 20px;
}

.tab-posts-double-navigation {
  text-decoration: none;
  width: 26px;
  height: 20px;
}

.tab-posts-navigation:hover {
  filter: invert(56%) sepia(30%) saturate(7333%) hue-rotate(139deg) brightness(100%) contrast(90%);
}

.tab-posts-double-navigation:hover {
  filter: invert(56%) sepia(30%) saturate(7333%) hue-rotate(139deg) brightness(100%) contrast(90%);
}

.tab-posts-navigation img {
  width: 20px;
  height: 20px;
}

.tab-posts-double-navigation img {
  width: 26px;
  height: 20px;
}

.tab-panel-number p,
.tab-panel-number a,
.tab-panel-number input {
  color: #000;
  font-family: "Grandiflora One";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3px;
  text-align: center;
  cursor: default;
}

.tab-posts-numbers {
  display: flex;
  gap: 10px;
  margin: 0 15px;
}

.tab-posts-number {
  text-decoration: none;
  cursor: pointer !important;
}

.tab-posts-number:hover {
  color: #0db49b;
}

.tab-panel-number input {
  width: 40px;
  text-align: center;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid #f0f0f0;
  cursor: text !important;
}

.tab-panel-number input:focus {
  width: 80px;
  border-bottom: 1px solid #0db49b;
  color: #0db49b;
}

.category-title {
  padding: 10px 20px;
  cursor: pointer;
  user-select: none;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
  color: #000;
  font-family: "Zen Kurenaido";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.8px;
}

.category-section:not(:last-child) {
  margin-bottom: 30px;
}

.category-title::-webkit-details-marker {
  display: none;
}

.arrow-icon {
  font-size: 16px;
  display: inline-block;
  width: 20px;
}

/* CSS-only toggle arrow for details */
.arrow-icon {
  width: 28px;
  height: 28px;
  transition: transform 0.3s;
}

details[open] .section-heading {
  color: #0db49b;
}

details[open] .arrow-icon {
  filter: invert(54%) sepia(91%) saturate(458%) hue-rotate(122deg) brightness(86%) contrast(90%);
}

.category-section[open] .arrow-icon {
  transform: rotate(90deg);
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  margin-top: 20px;
  padding-left: 90px;
}

.gallery-item {
  aspect-ratio: 1 / 1;
  background-color: #e0e0e0;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.gallery-item:hover img {
  transform: scale(1.05);
}

.image-title {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #333;
  font-size: 14px;
  font-family: "Zen Kurenaido", sans-serif;
  letter-spacing: 0.1em;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2px 8px;
  border-radius: 2px;
}