.section-title {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: center;
    margin-bottom: 55px;
}

.section-title  h1{
    color: #000;
    font-family: "Didot";
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 14.4px;
    padding-right: 78px;
}

.section-title-line {
    width: 100%;
    position: relative;
}

.section-title-line::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #000;
    position: absolute;
    top: 50%;
    right: 0;
}


.gallery-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px 100px;
  font-family: "Zen Old Mincho", serif;
}

.year-tabs {
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.year-tab {
  background: none;
  border: none;
  font-family: "Grandiflora One", serif;
  font-size: 18px;
  cursor: pointer;
  color: #888;
  padding-bottom: 5px;
  position: relative;
  transition: color 0.3s;
}

.year-tab:hover,
.year-tab.active {
  color: #000;
}

.year-tab.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: -11px;
  left: 0;
}

.category-section {
  margin-bottom: 30px;
}

.category-title {
  font-size: 24px;
  margin-bottom: 20px;
  cursor: pointer;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.category-title::-webkit-details-marker {
  display: none;
}

.arrow-icon {
  font-size: 16px;
  display: inline-block;
  width: 20px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
  padding-left: 30px;
}

.gallery-item {
  aspect-ratio: 1 / 1;
  background-color: #e0e0e0;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.gallery-item:hover img {
  transform: scale(1.05);
}

.image-title {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #333;
  font-size: 14px;
  font-family: "Zen Kurenaido", sans-serif;
  letter-spacing: 0.1em;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2px 8px;
  border-radius: 2px;
}