.post-header {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-title {
    color: #000;
    font-family: "Zen Old Mincho";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 9.6px;
}

.post-meta {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 12px 24px;
}

.post-date {
    margin: 0;
    font-family: "Grandiflora One";
    font-size: 25px;
    letter-spacing: 3px;
}

.post-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.post-tag {
    font-family: "Grandiflora One";
    font-size: 18px;
    letter-spacing: 2px;
}

.gallerypost-intro {
    color: #000;
    font-family: "Zen Kurenaido";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.6px;
    margin-bottom: 30px;
}

.tab-panel-number {
    display: flex;
    align-items: center;
    gap: 10px;
}

.panel-top {
    justify-content: flex-end;
    margin-bottom: 30px;
}

.panel-bottom {
    justify-content: center;
    padding: 0 9px;
    margin-top: 36px;
    margin-bottom: 36px;
    position: relative;
}

.panel-bottom::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #000;
    position: absolute;
    bottom: -36px;
    left: 0;
}

.tab-posts-navigation {
    text-decoration: none;
    width: 20px;
    height: 20px;
}

.tab-posts-double-navigation {
    text-decoration: none;
    width: 26px;
    height: 20px;
}

.tab-posts-navigation:hover {
    filter: invert(56%) sepia(30%) saturate(7333%) hue-rotate(139deg) brightness(100%) contrast(90%);
}

.tab-posts-double-navigation:hover {
    filter: invert(56%) sepia(30%) saturate(7333%) hue-rotate(139deg) brightness(100%) contrast(90%);
}

.tab-posts-navigation img {
    width: 20px;
    height: 20px;
}

.tab-posts-double-navigation img {
    width: 26px;
    height: 20px;
}

.tab-panel-number p,
.tab-panel-number a,
.tab-panel-number input {
    color: #000;
    font-family: "Grandiflora One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3px;
    text-align: center;
    cursor: default;
}

.tab-posts-numbers {
    display: flex;
    gap: 10px;
    margin: 0 15px;
}

.tab-posts-number {
    text-decoration: none;
    cursor: pointer !important;
}

.tab-posts-number:hover {
    color: #0db49b;
}

.tab-panel-number input {
    width: 40px;
    text-align: center;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid #f0f0f0;
    cursor: text !important;
}

.tab-panel-number input:focus {
    width: 80px;
    border-bottom: 1px solid #0db49b;
    color: #0db49b;
}

.back-link {
    margin-top: 48px;
    font-family: "Zen Kurenaido";
    font-size: 20px;
    letter-spacing: 3px;
    text-align: right;
    color: #6f6f6f;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.back-link:hover {
    color: #0db49b;
}