
.section-title {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: center;
    margin-bottom: 55px;
}

.section-title h1 {
    color: #000;
    font-family: "Didot";
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 14.4px;
    padding-right: 78px;
}

.section-title-line {
    width: 100%;
    position: relative;
}

.section-title-line::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #000;
    position: absolute;
    top: 50%;
    right: 0;
}

.menu-contents-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.page-top-nav {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: 50px;
    z-index: 5;
    transition: all 0.3s;
}

.page-top-nav svg {
    width: 32px;
    height: 32px;
    rotate: 90deg;
    transition: all 0.3s;
}

.page-top-nav:hover {
    background-color: #707070;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.page-top-nav:hover svg {
    filter: invert(100%) sepia(2%) saturate(1%) hue-rotate(267deg) brightness(101%) contrast(101%);
}

.explanation-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 80px;
}

.explanation-area p {
    color: #000;
    font-family: "Zen Kurenaido";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.6px;
}


.section-heading {
    padding: 10px 20px;
    border-top: 1px solid #000;
    cursor: pointer;
    user-select: none;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
    color: #000;
    font-family: "Zen Kurenaido";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.8px;
}

details:nth-child(2n) {
    background-color: #f9f9f9 !important;
}

details:nth-child(2n+1){
    background-color: #fff !important;
}

details:last-child {
    border-bottom: 1px solid #000;
    background-color: #e1e1e1 !important;
}

.section-heading::-webkit-details-marker {
    display: none;
}

.arrow-icon {
    width: 28px;
    height: 28px;
    transition: transform 0.3s;
}

details[open] .section-heading {
    color: #0db49b;
}

details[open] .arrow-icon {
    filter: invert(54%) sepia(91%) saturate(458%) hue-rotate(122deg) brightness(86%) contrast(90%);
}

details[open] .arrow-icon {
    transform: rotate(90deg);
}


.member-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 15px;
    margin-bottom: 50px;
    padding-left: 90px;
}


.member-card {
    aspect-ratio: 1/1;
    position: relative;
    background-color: #d9d9d9; 
    cursor: pointer;
    transition: opacity 0.3s;
    border: #fff 5px solid;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.member-card:hover {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.member-image-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.member-image-placeholder img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover !important;
    object-fit: contain;
    object-position: center;
}

.member-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    pointer-events: none; 
}

.member-grade {
    position: absolute;
    top: 5px;
    left: 10px;
    color: #ffffff;
    font-family: "Grandiflora One";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.4px;
    mix-blend-mode: exclusion;
}

.member-name {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #ffffff;
    text-align: right;
    font-family: "Zen Kurenaido";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.8px;
    mix-blend-mode: exclusion;
}

.edit-link-wrapper {
    text-align: right;
    margin: 30px 0 20px;
}

.edit-link {
    font-family: "Zen Old Mincho";
    letter-spacing: 4px;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid currentColor;
    padding-bottom: 4px;
}


@media (max-width: 1024px) {
    .member-grid {
        grid-template-columns: repeat(3, 1fr); 
    }
    .section-title h1 {
        font-size: 60px;
    }
}

@media (max-width: 768px) {
    .portfolio-container {
        padding: 0 20px 60px;
    }
    
    .filter-tabs {
        overflow-x: auto; 
        white-space: nowrap;
        padding-bottom: 0;
    }

    .member-grid {
        grid-template-columns: repeat(2, 1fr); 
        padding-left: 0;
    }

    .section-title h1 {
        font-size: 40px;
        margin-right: 20px;
    }
}
