---
import Layout from "../layouts/Layout.astro"
import "../styles/UA+reset.css"
import "../styles/About_us.css"
---

<Layout>
    <div class = "section-title"> 
        <h1>About&nbsp;us</h1>
        <div class = "section-title-line"></div>
    </div>
    <div class="explanation-about-us">
        <p>写団シャレードは早稲田大学公認の写真サークルです。活動内容は年4回の写真展を中心にワークショップや展示会見学などを行っています。学生会館E224に部室があり、モノクロ現像のための暗室及び、デジタル処理用のMacを完備しています。所有機材、現段階での技術などは問いません。新歓時期に限らずいつでも入会できます。兼部や2年生以上の方、学外の方の入会も可能です。<br><br>写真をこれからはじめる方でも一から教えます。経験者の方は色々な人とふれあうことでさらに写真を楽しめます。写真は1人でも撮ることが可能です。しかし、私達はお互いを刺激しあい、成長できるような関係をサークルを通じて築き上げたいと考えています。興味のある方はぜひ学生会館E224部室にいつでも見学にいらしてください。<br><br>※機材使用だけを目的とされる方はお断りをする場合があります。サークルとしてお互い刺激しあえる関係を作るための場、とお考えください。</p>
    </div>
    <div class="information">
        <div class="contents-title"><h1>Information</h1></div>
        <table>
            <caption>
                ※ 2025年6月現在
            </caption>
            <tbody>
                <tr>
                    <th scope="row">名前</th>
                    <td>早稲田大学公認サークル&nbsp;&nbsp;&nbsp;&nbsp;写団シャレード</td>
                    <td rowspan="6" id="map-td">
                        <span><div class="map">
                        </div></span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">設立</th>
                    <td>1974年</td>
                </tr>
                <tr>
                    <th scope="row">構成</th>
                    <td>187名&nbsp;（男女比１：１）</td>
                </tr>
                <tr>
                    <th scope="row">部費</th>
                    <td>入会費0円&nbsp;&nbsp;/&nbsp;&nbsp;半期3000円</td>
                </tr>
                <tr>
                    <th scope="row">所在地</th>
                    <td>
                        <span class="address-span">
                            <div class="address-text">
                                〒162-0052<br>東京都新宿区戸山1-24-1&nbsp;&nbsp;早稲田大学学生会館E224
                            </div>
                            <a href="https://maps.app.goo.gl/WGv8zg5tN3dyiwy8A" class="link-button" target="_blank">
                                <img src="/icons/link.svg" alt="Link Icon" />
                            </a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">連絡先</th>
                    <td><a class="href-anchor" href="contact">contact@scharade.jp</a></td>
                </tr>
                <tr>
                    <th scope="row">SNS</th>
                    <td colspan="2">X（旧twitter）： <a class="href-anchor" href="https://twitter.com/SCHARADE_JP" target="_blank">@SCHARADE_JP</a><span class="separator">/</span>Instagram ： <a class="href-anchor" href="https://www.instagram.com/SCHARADE_JP" target="_blank">@SCHARADE_JP</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="annual-schedule">
        <div class="contents-title"><h1>Annual Schedule</h1></div>
        <div class="tab">
            <input type="radio" id="tab1" name="tab" checked>
            <label for="tab1">Apr. - Jun.</label>
            <div>
                <div class="card-cover" id="card-apr-may">
                    <div class="card-contents" id="card-apr-may-contents">
                        <h2> 4月 / 5月 </h2>
                        <h1> 新歓 </h1>
                        <div class="card-textbox"><p> 部室開放や食事会、撮影会を行います。参加費無料なので雰囲気を知りたい方や同輩や先輩の友達作りなどに最適です！ </p></div>
                    </div>
                </div>
                <div class="card-cover" id="card-jun">
                    <div class="card-contents">
                        <h2> 6月 </h2>
                        <h1> 六月展 </h1>
                        <div class="card-textbox"><p> 部室開放や食事会、撮影会を行います。参加費無料なので雰囲気を知りたい方や同輩や先輩の友達作りなどに最適です！ </p></div>
                    </div>
                </div>
            </div>

            <input type="radio" id="tab2" name="tab">
            <label for="tab2">Jul. - Sep.</label>
            <div>
                <div class="card-cover" id="card-jul">
                    <div class="card-contents">
                        <h2> 7月</h2>
                        <h1> BBQ </h1>
                        <div class="card-textbox"><p> 部室開放や食事会、撮影会を行います。参加費無料なので雰囲気を知りたい方や同輩や先輩の友達作りなどに最適です！ </p></div>
                    </div>
                </div>
                <div class="card-cover" id="card-aug">
                    <div class="card-contents">
                        <h2> 8月 </h2>
                        <h1> 夏合宿 </h1>
                        <div class="card-textbox"><p> 部室開放や食事会、撮影会を行います。参加費無料なので雰囲気を知りたい方や同輩や先輩の友達作りなどに最適です！ </p></div>
                    </div>
                </div>
                <div class="card-cover" id="card-sep">
                    <div class="card-contents">
                        <h2> 9月 </h2>
                        <h1> 新人展 </h1>
                        <div class="card-textbox"><p> 部室開放や食事会、撮影会を行います。参加費無料なので雰囲気を知りたい方や同輩や先輩の友達作りなどに最適です！ </p></div>
                    </div>
                </div>
            </div>

            <input type="radio" id="tab3" name="tab">
            <label for="tab3">Oct. - Dec.</label>
            <div>
                <div class="card-cover" id="card-oct">
                    <div class="card-contents">
                        <h2> 10月 </h2>
                        <h1> ハロウィンパーティ </h1>
                        <div class="card-textbox"><p> 部室開放や食事会、撮影会を行います。参加費無料なので雰囲気を知りたい方や同輩や先輩の友達作りなどに最適です！ </p></div>
                    </div>
                </div>
                <div class="card-cover" id="card-nov">
                    <div class="card-contents">
                        <h2> 11月 </h2>
                        <h1> 早稲田祭 </h1>
                        <div class="card-textbox"><p> 部室開放や食事会、撮影会を行います。参加費無料なので雰囲気を知りたい方や同輩や先輩の友達作りなどに最適です！ </p></div>
                    </div>
                </div>
                <div class="card-cover" id="card-dec">
                    <div class="card-contents">
                        <h2> 12月 </h2>
                        <h1> 忘年会 </h1>
                        <div class="card-textbox"><p> 部室開放や食事会、撮影会を行います。参加費無料なので雰囲気を知りたい方や同輩や先輩の友達作りなどに最適です！ </p></div>
                    </div>
                </div>
            </div>

            <input type="radio" id="tab4" name="tab">
            <label for="tab4">Jan. - Mar.</label>
            <div>
                <div class="card-cover" id="card-jan">
                    <div class="card-contents">
                        <h2> 1月 </h2>
                        <h1> 新年会 </h1>
                        <div class="card-textbox"><p> 部室開放や食事会、撮影会を行います。参加費無料なので雰囲気を知りたい方や同輩や先輩の友達作りなどに最適です！ </p></div>
                    </div>
                </div>
                <div class="card-cover" id="card-feb">
                    <div class="card-contents">
                        <h2> 2月 </h2>
                        <h1> 卒業制作展</br>二月展 </h1>
                        <div class="card-textbox"><p> 部室開放や食事会、撮影会を行います。参加費無料なので雰囲気を知りたい方や同輩や先輩の友達作りなどに最適です！ </p></div>
                    </div>
                </div>
                <div class="card-cover" id="card-mar">
                    <div class="card-contents">
                        <h2> 3月 </h2>
                        <h1> 春合宿 </h1>
                        <div class="card-textbox"><p> 部室開放や食事会、撮影会を行います。参加費無料なので雰囲気を知りたい方や同輩や先輩の友達作りなどに最適です！ </p></div>
                    </div>
                </div>
            </div>

            <input type="radio" id="tab5" name="tab">
            <label for="tab5">Others</label>
            <div>
                <div class="card-cover" id="card-others">
                    <div class="card-contents" id="card-others-contents">
                        <p>Now in production...</p>
                        <div class="card-textbox"><p> Now in production... </p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Equipments">
        <div class="contents-title"><h1>Equipments</h1></div>
        <div class="equipments-list">
            <div class="equipment-item">
                <div class="equipment-image">
                    <input type="radio" name="slideshow" id="switch1" checked>
                    <input type="radio" name="slideshow" id="switch2">
                    <input type="radio" name="slideshow" id="switch3">
                    <input type="radio" name="slideshow" id="switch4">
                    <input type="radio" name="slideshow" id="switch5">
                    <div class="image-container">
                        <section id="image1"><img src="../src/assets/equipments/darkroom1.jpg" alt="暗室"></section>
                        <section id="image2"><img src="../src/assets/equipments/darkroom2.jpg" alt="暗室2"></section>
                        <section id="image3"><img src="../src/assets/equipments/darkroom3.jpg" alt="暗室3"></section>
                        <section id="image4"><img src="../src/assets/equipments/darkroom4.jpg" alt="暗室4"></section>
                        <section id="image5"><img src="../src/assets/equipments/darkroom5.jpg" alt="暗室5"></section>
                    </div>
                    <p class="arrow prev">
                        <i class="ico"></i>
                        <label for="switch1"></label>
                        <label for="switch2"></label>
                        <label for="switch3"></label>
                        <label for="switch4"></label>
                        <label for="switch5"></label>
                    </p>
                    <p class="arrow next">
                        <i class="ico"></i>
                        <label for="switch1"></label>
                        <label for="switch2"></label>
                        <label for="switch3"></label>
                        <label for="switch4"></label>
                        <label for="switch5"></label>
                    </p>
                </div>
                <div class="equipment-description">
                    <h1>No.1</h1>
                    <h2>暗室</h2>
                    <p>暗室ではモノクロフィルムの現像、プリントが可能です。 暗室作業は、慣れるまで先輩がついて指導します。また、スピーカーが設置してあり自分のipodやMD、CDプレイヤーなどを繋げば好きな音楽を聴きながら快適に楽しく暗室作業ができます。一般的な暗室では通常カラーフィルムの現像、プリントはできません。</p>
                </div>
            </div>
            <div class="equipment-item">
                <!-- <div class="equipment-image">
                    <input type="radio" name="slideshow" id="switch1" checked>
                    <input type="radio" name="slideshow" id="switch2">
                    <input type="radio" name="slideshow" id="switch3">
                    <input type="radio" name="slideshow" id="switch4">
                    <input type="radio" name="slideshow" id="switch5">
                    <div class="image-container">
                        <section id="image1"><img src="../src/assets/equipments/darkroom1.jpg" alt="暗室"></section>
                        <section id="image2"><img src="../src/assets/equipments/darkroom2.jpg" alt="暗室2"></section>
                        <section id="image3"><img src="../src/assets/equipments/darkroom3.jpg" alt="暗室3"></section>
                        <section id="image4"><img src="../src/assets/equipments/darkroom4.jpg" alt="暗室4"></section>
                        <section id="image5"><img src="../src/assets/equipments/darkroom5.jpg" alt="暗室5"></section>
                    </div>
                    <p class="arrow prev">
                        <i class="ico"></i>
                        <label for="switch1"></label>
                        <label for="switch2"></label>
                        <label for="switch3"></label>
                        <label for="switch4"></label>
                        <label for="switch5"></label>
                    </p>
                    <p class="arrow next">
                        <i class="ico"></i>
                        <label for="switch1"></label>
                        <label for="switch2"></label>
                        <label for="switch3"></label>
                        <label for="switch4"></label>
                        <label for="switch5"></label>
                    </p>
                </div> -->
                <div class="equipment-description">
                    <h1>No.2</h1>
                    <h2>Desktop PC</h2>
                    <p>高解像度の画像編集や動画編集が可能なデスクトップPCです。</p>
                </div>
            </div>
            <div class="equipment-item">
                <!-- <div class="equipment-image">
                    <input type="radio" name="slideshow" id="switch1" checked>
                    <input type="radio" name="slideshow" id="switch2">
                    <input type="radio" name="slideshow" id="switch3">
                    <input type="radio" name="slideshow" id="switch4">
                    <input type="radio" name="slideshow" id="switch5">
                    <div class="image-container">
                        <section id="image1"><img src="../src/assets/equipments/darkroom1.jpg" alt="暗室"></section>
                        <section id="image2"><img src="../src/assets/equipments/darkroom2.jpg" alt="暗室2"></section>
                        <section id="image3"><img src="../src/assets/equipments/darkroom3.jpg" alt="暗室3"></section>
                        <section id="image4"><img src="../src/assets/equipments/darkroom4.jpg" alt="暗室4"></section>
                        <section id="image5"><img src="../src/assets/equipments/darkroom5.jpg" alt="暗室5"></section>
                    </div>
                    <p class="arrow prev">
                        <i class="ico"></i>
                        <label for="switch1"></label>
                        <label for="switch2"></label>
                        <label for="switch3"></label>
                        <label for="switch4"></label>
                        <label for="switch5"></label>
                    </p>
                    <p class="arrow next">
                        <i class="ico"></i>
                        <label for="switch1"></label>
                        <label for="switch2"></label>
                        <label for="switch3"></label>
                        <label for="switch4"></label>
                        <label for="switch5"></label>
                    </p>
                </div> -->
                <div class="equipment-description">
                    <h1>No.3</h1>
                    <h2>Xiaomi Google TV</h2>
                    <p>Xiaomi Google TVは、ストリーミングサービスやアプリに簡単にアクセスできるスマートテレビです。</p>
                </div>
            </div>
            <div class="equipment-item">
                <!-- <div class="equipment-image">
                    <input type="radio" name="slideshow" id="switch1" checked>
                    <input type="radio" name="slideshow" id="switch2">
                    <input type="radio" name="slideshow" id="switch3">
                    <input type="radio" name="slideshow" id="switch4">
                    <input type="radio" name="slideshow" id="switch5">
                    <div class="image-container">
                        <section id="image1"><img src="../src/assets/equipments/darkroom1.jpg" alt="暗室"></section>
                        <section id="image2"><img src="../src/assets/equipments/darkroom2.jpg" alt="暗室2"></section>
                        <section id="image3"><img src="../src/assets/equipments/darkroom3.jpg" alt="暗室3"></section>
                        <section id="image4"><img src="../src/assets/equipments/darkroom4.jpg" alt="暗室4"></section>
                        <section id="image5"><img src="../src/assets/equipments/darkroom5.jpg" alt="暗室5"></section>
                    </div>
                    <p class="arrow prev">
                        <i class="ico"></i>
                        <label for="switch1"></label>
                        <label for="switch2"></label>
                        <label for="switch3"></label>
                        <label for="switch4"></label>
                        <label for="switch5"></label>
                    </p>
                    <p class="arrow next">
                        <i class="ico"></i>
                        <label for="switch1"></label>
                        <label for="switch2"></label>
                        <label for="switch3"></label>
                        <label for="switch4"></label>
                        <label for="switch5"></label>
                    </p>
                </div> -->
                <div class="equipment-description">
                    <h1>No.4</h1>
                    <h2>プリンター</h2>
                    <p>高品質な写真プリントが可能なプリンターです。</p>
                </div>
            </div>
            <div class="equipment-item">
                <!-- <div class="equipment-image">
                    <input type="radio" name="slideshow" id="switch1" checked>
                    <input type="radio" name="slideshow" id="switch2">
                    <input type="radio" name="slideshow" id="switch3">
                    <input type="radio" name="slideshow" id="switch4">
                    <input type="radio" name="slideshow" id="switch5">
                    <div class="image-container">
                        <section id="image1"><img src="../src/assets/equipments/darkroom1.jpg" alt="暗室"></section>
                        <section id="image2"><img src="../src/assets/equipments/darkroom2.jpg" alt="暗室2"></section>
                        <section id="image3"><img src="../src/assets/equipments/darkroom3.jpg" alt="暗室3"></section>
                        <section id="image4"><img src="../src/assets/equipments/darkroom4.jpg" alt="暗室4"></section>
                        <section id="image5"><img src="../src/assets/equipments/darkroom5.jpg" alt="暗室5"></section>
                    </div>
                    <p class="arrow prev">
                        <i class="ico"></i>
                        <label for="switch1"></label>
                        <label for="switch2"></label>
                        <label for="switch3"></label>
                        <label for="switch4"></label>
                        <label for="switch5"></label>
                    </p>
                    <p class="arrow next">
                        <i class="ico"></i>
                        <label for="switch1"></label>
                        <label for="switch2"></label>
                        <label for="switch3"></label>
                        <label for="switch4"></label>
                        <label for="switch5"></label>
                    </p>
                </div> -->
                <div class="equipment-description">
                    <h1>No.5</h1>
                    <h2>スキャナー</h2>
                    <p>フィルムや写真のデジタル化が可能なスキャナーです。</p>
                </div>
            </div>
        </div>
    </div>
</Layout>

<style>
    
</style>