---
import Layout from "../layouts/Layout.astro";
import "../styles/UA+reset.css";
import "../styles/Portfolio.css";
---

<Layout>
    <Fragment slot="main-slot">
        <div class="section-title a-anchor">
            <h1>Portfolio</h1>
            <div class="section-title-line"></div>
        </div>
    </Fragment>
    <Fragment slot="menu-slot"></Fragment>
    <Fragment slot="body-slot">
        <p>Portfolioページは現在準備中です。</p>
    </Fragment>
</Layout>