---
import '../styles/UA+reset.css';
import '../styles/footer.css';
const pathname = Astro.url.pathname;
import { getImage } from 'astro:assets';
import background from '../assets/footer/background.jpg';
const optimizedBackground = await getImage({src: background, format: 'webp'});
---

<footer style={{ background: `linear-gradient(rgba(70, 70, 70, 0.75), rgba(70, 70, 70, 0.75)), url(${optimizedBackground.src})` }}>

    <a href="/" class="footer-title">
        <h2>早稲田大学公認サークル</h2>
        <h1>写団シャレード</h1>
    </a>
    <div class="footer-links">
        <div class="links-upper-tier">
            <a class:list={['link', {active: /^\/About_us\/?$/.test(pathname)}]} href="/About_us"><span class="text">About us</span></a>
            <a class:list={['link', {active: /^\/Activity(?:\/.*)?$/.test(pathname)}]} href="/Activity"><span class="text">Activity</span></a>
            <a class:list={['link', {active: /^\/Gallery(?:\/.*)?$/.test(pathname)}]} href="/Gallery"><span class="text">Gallery</span></a>
            <a class:list={['link', {active: /^\/Portfolio(?:\/.*)?$/.test(pathname)}]} href="/Portfolio"><span class="text">Portfolio</span></a>
        </div>
        <div class="links-lower-tier">
            <a class:list={['link', {active: /^\/Contact\/?$/.test(pathname)}]} href="Contact"><span class="text">Contact</span></a>
            <a class:list={['link', {active: /^\/Disclaimer\/?$/.test(pathname)}]} href="/Disclaimer"><span class="text">Disclaimer</span></a>
        </div>
    </div>
    <h3>Members only</h3>
    <div class="member-links">
        <a class:list={['link', {active: /^\/Login\/?$/.test(pathname)}]} href="Login"><span class="text">Log in</span></a>
        <a class:list={['link', {active: /^\/Signup\/?$/.test(pathname)}]} href="Signup"><span class="text">Sign in</span></a>
    </div>
    <div class="footer-logo">
        <label for="show-credit-checkbox">
            <img src="../src/assets/footer/logo.svg" alt="Scharade Logo">
            <input type="checkbox" id="show-credit-checkbox" style="display: none;">
            <div class="made-with-love">
                <p>デザイン・フロントエンド：Kota OKAMOTO</p>
                <p>バックエンド：Sae YOSHIZAKI</p>
            </div>
        </label>
        <h3>©Scharade. All Rights Reserved.</h3>
    </div>
</footer>
</html>
