---
import '../styles/UA+reset.css';
---

<div class="img-grid-container">
    <slot />
</div>

<style>
    .img-grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        /* gap: 16px; */
        /* padding: 16px; */
        grid-auto-flow: dense;
    }
</style>