---
import Layout from "./Layout.astro";
import "../styles/UA+reset.css";
import "../styles/Gallery.css";

const {title} = Astro.props;
---

<Layout>
  <Fragment slot="main-slot">
    <div class="section-title">
      <h1>Gallery</h1>
      <div class="section-title-line"></div>
    </div>      
  </Fragment>
  <Fragment slot="menu-slot">
    <div class="menu-contents-inner">
      <a href="#" class="page-top-nav">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="M16 21.308L6.692 12L16 2.692l1.064 1.064L8.819 12l8.244 8.244z"
          ></path></svg
        >
      </a>
    </div>
  </Fragment>
  <Fragment slot="body-slot">
    <div class="album-title">
      <h1> { title }</h1>
    </div>
    <div class="gallery-detail-wrapper">
      <slot />
    </div>
  </Fragment>
</Layout>

<style>
  .album-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .album-title h1 {
    color: #000;
    font-family: "Zen Old Mincho";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 7.2px;
  }

  .gallery-detail-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 768px) {
    .album-title h1 {
      font-size: 24px;
      letter-spacing: 3.6px;
    }
  }
</style>