---
import Layout from './Layout.astro';
import '../styles/UA+reset.css';
const { title } = Astro.props;
const url = new URL(Astro.request.url);
const from = url.searchParams.get("from");
---
<Layout>
<Fragment slot="main-slot">
    <div class = "section-title"> 
        <h1>{ from }</h1>
        <div class = "section-title-line"></div>
    </div>
</Fragment>
<Fragment slot="menu-slot">
    
</Fragment>
<Fragment slot="body-slot">
    <!-- <h1 class="post-title">{title}</h1> -->
    <article>
        <slot /> <!-- ここにコンテンツが挿入されます -->
    </article>
</Fragment>
</Layout>

<style>
    html{
		font-family: "zen-krenaido-regular", "zen-old-mincho-regular", "zen-kaku-gothic-new-light", "zen-kaku-gothic-new-regular", "zen-kaku-gothic-new-medium", "zen-kaku-gothic-new-bold", "zen-kaku-gothic-new-black", "ta-koigokoro-regular", "grandiflora-one-regular";
		margin: 0;
		scroll-behavior: smooth;
	}


	body {
		margin: 0;
		padding-top: 120px;
		background-color: #fdfdfd;
	}

	.container {
		display: flex;
		flex-direction: row;
	}

	.body-contents {
		flex: 11 1 calc(100vw / 12);
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 120px;
	}
	.menu-contents {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		/* justify-content: center; */
		/* align-items: flex-start; */
	}

    .post-title {
        color: #000;
        font-family: "Zen Old Mincho";
        font-size: 64px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 9.6px;
        margin-bottom: 48px;
    }

    .section-title {
        display: flex;
        flex-direction: row;
        align-items: space-between;
        justify-content: center;
        margin-bottom: 55px;
    }

    .section-title  h1{
        color: #000;
        font-family: "Didot";
        font-size: 96px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 14.4px;
        padding-right: 78px;
    }

    .section-title-line {
        width: 100%;
        position: relative;
    }

    .section-title-line::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: #000;
        position: absolute;
        top: 50%;
        right: 0;
    }
</style>